.category {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}

.category-search {
  width: 50%;
  border: 1px solid black;
  border-radius: 6px;
  overflow: hidden;
}
.category-search input {
  border: none;
  outline: none;
}

.category-dropdown select {
  font-size: medium;
  font-weight: 400;
  cursor: pointer;
  border-radius: 6px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  padding: 40px;
  gap: 20px;
  margin-top: 16px;
}

.product {
  border-radius: 5px;
  background: #fff;
  /* width: 200px; */
  /* height: 250px; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.product img {
  /* width: 170px;
    height: 220px; */
  /* object-fit: contain; */
  border-radius: 5px;
}

.product:hover {
  cursor: context-menu;
}

@media (max-width: 985px){
    .products {
        grid-template-columns: repeat(4, 1fr);
      }
}
@media (max-width: 785px){
    .products {
        grid-template-columns: repeat(3, 1fr);
      }
}
@media (max-width: 585px){
    .products {
        grid-template-columns: repeat(2, 1fr);
      }
}
@media (max-width: 430px){
    .products {
        grid-template-columns: repeat(1, 1fr);
      }
}
/* 
@media (max-width: 690px) {
  .productContainer {
    flex-direction: column;
  }
  .category {
    width: 90%;
  }
  .products {
    margin: auto;
  }
  input {
    max-width: 100%;
  }
}
@media (max-width: 525px) {
  .products {
    justify-content: center;
  }
} */
